@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
ul {
  list-style: none;
}
#grid-wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 10% 70% repeat(3, calc(20% / 3)) / 15% 60% 25%;
}
.nav {
  grid-area: 1 / 1 / span 1 / -1;
  /* background: #444; */
  color: black;
  font-weight: 600;
  display: flex;
}
.navUL {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.aside {
  grid-area: 2 / 1 / -1 / span 1;
  background: lightgrey;
}
#asideBox {
  width: 50%;
  height: 30%;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.asideBoxItem1 {
  flex: 1
}
.asideBoxItem2 {
  flex: 2
}
.asideUL {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  /* width: 200px; */
}
.main {
  grid-area: 2 / 2 / span 1 / span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background: #efefef;
  overflow: scroll;
}
.mainItem {
  margin: auto;
  /* flex: 1; */
}
.item1 {
  flex:1
}
.item2 {
  flex:1;
}
.item3 {
  flex: 2
}

.mainItem1 {
  width: 200px;
  height: 200px;
  -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}
#sectionForm {
  display: flex;
  flex-direction: column;
  -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
  width: 40vw
}
.formInput {
  padding: 5px
}
.sidebar {
  grid-area: 2 / 3 / span 1 / -1;
  background: #efefef;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.sidebar > section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc((100% / 3) - 40px);
  width: 100%;

}
.ad {
  margin: 10px;
  width: calc(100% - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(68, 68, 68, 0.6);

}
.topAd {
  flex: 1;
  align-self: flex-start;

}
.bottomAd {
  flex: 2;

}
.footerNav {
  grid-area: 3 / 2 / span 1 / -1;
  background: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerNavUL {
  display: inline-flex;
  justify-content: space-between;
  width: 20%;
  align-content: space-between;
}
.footerNavUL > li {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerNavUL > li:nth-of-type(1) {
  background: #444;
  color: #efefef
}
.footer1 {
  grid-area: 4 / 2 / span 1 / -1;
  display: flex;
  align-items: center;
  padding: 20px;
  background:#6FC0D8;
  color: #efefef

}
.footer2 {
  grid-area: 5 / 2 / -1 / -1;
  background: #252525;
  color: #efefef;
  font-size: xx-small;
  padding: 20px
}
.footer2 > a {
  color: #efefef
}
#profileImg {
  width: 200px;
}
.sectionTable {
  width: 10vw;
}
/* ////yael */
.main-sort-bar {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-between;
}
​

​

​
/* 
@media (max-width: 1000px) {
  #profileImg {
    width: 100px;
    height: 100px;
  }
} */